/* styling generals */
html {
  scroll-behavior: smooth;
}

body {
  padding-top: 64px;

  background-color: #000000;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.line {
  height: 2px;
  width: 100%;

  background-color: #ffffff19;
}

.line2 {
  height: 2px;
  width: 100%;

  background-color: #959595;
}

.text-H1 {
  font-family: 'CormorantGaramond', serif;
  font-size: 96px;
  font-weight: 400;
  font-style: normal;
  line-height: 128px;
  color: #ffffff;
}

.text-H2 {
  font-family: 'CormorantGaramond', serif;
  font-size: 64px;
  font-weight: 400;
  font-style: normal;
  line-height: 72px;
  color: #ffffff;
}

.text-H4 {
  font-family: 'Poppins', sans-serif;
  font-size: 400;
  font-size: 20px;
  line-height: 32px;
  color: #959595;
}

.text-H5 {
  font-family: 'Poppins', sans-serif;
  font-size: 400;
  font-size: 16px;
  line-height: 24px;

  /* SamuelNwaokocha 5/1/2025 10:12 
    'Tried a different color - blue, I prefer the teal'

    color: #108EC1;
  */  

  color: #08FFD0;
}

.text-body {
  font-family: 'Poppins', sans-serif;
  font-size: 400;
  font-size: 16px;
  line-height: 24px;
  color: #959595;
}

.text-caption {
  font-family: 'Poppins', sans-serif;
  font-size: 400;
  font-size: 12px;
  line-height: 18px;
  color: #959595;
}